<%- include('partial/header') %>


<div class="index-container">
    <p class="error-status"><%= error.status %></p>
    <div>
        <img src="/images/icon.png" alt="TFDb Icon" class="index-icon">
    </div>
    <h2><%= message %></h2>

</div>

<%- include('partial/footer') %>