body {
  background-color: #fff1ac; 
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #762f00;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #762f00;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  padding: 20px;
}
