<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFDb</title>
    <link rel="stylesheet" href='/stylesheets/style.css'> 
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
</head>
<body>
    <header>
        <img src="/images/icon.png" alt="TFDb Icon" width="64" height="64"/>
        <h1>  The Film Database</h1> 
    </header>
    <main>
